RewriteEngine On
Options -Indexes

<Files *.php>
    Deny from all
</Files>

<Files index.php>
    Allow from all
</Files>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]